server:
  port: 0

grpc:
  server:
    port: 0

spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.LongSerializer
      value-serializer: ru.yandex.practicum.stats.avro.SpecificRecordAvroSerializer
  cloud:
    discovery:
      enabled: true
    service-registry:
      auto-registration:
        enabled: true

stats:
  topics:
    user-actions: stats.user-actions.v1
    events-similarity: stats.events-similarity.v1

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never

logging:
  level:
    com.netflix.discovery: DEBUG
    org.springframework.cloud.netflix.eureka: DEBUG
    org.springframework.cloud.client.serviceregistry: DEBUG

eureka:
  client:
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 1
    instanceInfoReplicationIntervalSeconds: 1
  instance:
    preferIpAddress: true
    instance-id: ${spring.application.name}:${random.value}
    leaseRenewalIntervalInSeconds: 10