spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: main-service
          uri: lb://main-service
          predicates:
            - Path=/**

server:
  port: 8080

eureka:
  instance:
    instance-id: ${spring.application.name}:${random.value}