spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: request-service
          uri: lb://REQUEST-SERVICE
          predicates:
            - Path=/users/*/requests/**,/users/*/events/*/requests
        - id: comments-service
          uri: lb://COMMENTS-SERVICE
          predicates:
            - Path=/admin/comments/**,/events/*/comments/**,/users/*/events/*/comments/**
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/admin/users/**,/internal/users/**
        - id: event-service
          uri: lb://EVENT-SERVICE
          predicates:
            - Path=/events/**,/admin/events/**,/users/*/events/**,/categories/**,/admin/categories/**,/compilations/**,/admin/compilations/**

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    gateway:
      enabled: true
    health:
      show-details: never

eureka:
  instance:
    instance-id: ${spring.application.name}:${random.value}